.button {
		border-radius: $bradius50  !important;
		border: $br2solblue !important;
		height: $height20 !important;
		padding: $pdt1 !important;
		margin-right: $mg5 !important;
		}

		.button1 {
		background-color: $bgprimary !important;
		color: $white;
		}


		.txt-white {
			color: $white;
		}
	}
}

#optimize {
	margin: $mg5-0;

		img {
			width: $width100;
		}
}

		.button {
		border-radius: $bradius50  !important;
		border: $br2solblue !important;
		height: $height20 !important;
		padding: $pdt1 !important;
		margin-right: $mg5 !important;
		}



.pdt5 {
	padding: $pdt5;
}

.gray {
	background-color: $opacity05; 
}

.button2 {
	height: $height20 !important;
	width: $width20 !important;
	display: $inline;
	padding: $pdt1 !important;
}